<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>Novičke</title>
</head>
<body>
    
    <div class="container">
        <h1 class="serviceReports"> Število posameznih klicev glede na endpoint</h1>
        <div class="row justify-content-center">
            <div class="col-4">
                <table class="table table-striped">
                    <tr>
                    <td class="service">novicke-novice-service-api</td>
                    <td class="number">Št. klicev: </td>
                    </tr>
                    <tr>
                    <td class="service">Storitev: novicke-uporabniki-service-api   Endpoint: api/v1/user/login</td>
                    <% if (typeof login !== 'undefined') {%>
                    <td class="number">Št. klicev: <%= login%></td>
                        <% } else {%>%>
                    <td class="number">/</td>       
                        <% }%>
                    </tr>
                    <tr>
                    <td class="service">novicke-komentrji-service-api</td>
                    <td class="number">Št. klicev: </td>
                    </tr>
                    <tr>
                    <td class="service">Storitev: novicke-nove-novicke-api   Endpoint: /new</td>
                    <% if (typeof newNews !== 'undefined') {%>
                    <td class="number">Št. klicev: <%= newNews.numCalls%></td>
                        <% } else {%>%>
                    <td class="number">/</td>       
                        <% }%>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>